@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --animate-slideIn: slideIn 0.5s ease-out forwards;

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(30px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
}


